streamlit==1.27.2
pandas==1.4.2
spacy==3.5.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
textblob==0.17.1
wordcloud==1.9.3
matplotlib==3.5.1
docx==0.2.4
pdfplumber
nltk==3.7
scikit-learn
altair==4.2.0
